[user]
	name = "Ramon Asuncion"
	username = "RamonAsuncion"
	email = asuncionbatista@gmail.com

[init]
	defaultBranch = main

[alias]
    tree = log --graph --decorate --pretty=oneline --abbrev-commit
