@define-color module-bg rgba(18, 23, 31, 0.9);
@define-color tooltip-bg rgba(18, 23, 31, 1);
@define-color foreground #F8DEB9;
@define-color accent #19A1CA;
@define-color red #E93F2B;
@define-color blue #19A1CA;
@define-color cream #F8DEB9;
@define-color yellow #ED9D2F;
@define-color inactive #9F7F68;
@define-color workspace-fg @foreground;
@define-color fg @foreground;

