@import "colors.css";

* {
  border: none;
  border-radius: 0;
  font-family: "Noto Sans", "Noto Sans Mono";
  font-size: 12px;
  color: @fg;
}

#waybar {
  background: transparent;
  font-weight: 600;
  margin-top: 6px;
  padding-top: 2px;
}

tooltip {
  background: @tooltip-bg;
  border-radius: 8px;
  padding: 6px;
}

#workspaces button {
  color: @fg;
  margin: 0 4px;
  padding: 2px 8px;
  border-bottom: 2px solid transparent;
}

#workspaces button.active {
  color: @accent;
  border-bottom: 2px solid @blue;
}

#clock, #cpu, #memory, #network, #battery, #pulseaudio {
  background: @module-bg;
  margin: 0 4px;
  padding: 3px 10px;
  border-radius: 8px;
}

#cpu.warning, #memory.warning, #battery.warning {
  color: @cream;
}

#cpu.critical, #memory.critical, #battery.critical {
  color: @red;
}

#custom-ctlcenter {
  color: @blue;
  background: @module-bg;
  border-radius: 8px;
  padding: 3px 10px;
}

#custom-logout {
  color: @red;
  background: @module-bg;
  border-radius: 8px;
  padding: 3px 10px;
}

#pulseaudio.muted {
  color: @red;
  background: rgba(232,76,61,0.25);
}

#custom-notifications {
  color: @accent;
  background: @module-bg;
  border-radius: 8px;
  padding: 3px 10px;
  margin: 0 4px;
}

#custom-notifications:hover {
  color: @blue;
}
