/**
 * Gundam color palette
 */

* {
    background:     #12171F;
    background-alt: #0E141B;
    foreground:     #F8DEB9;
    selected:       #19A1CA;
    active:         #ED9D2F;
    urgent:         #E93F2B;
}
