! Font Settings
Xft.autohint:           false
Xft.hinting:            true
Xft.hintstyle:          hintfull
Xft.antialias:          true
Xft.rgba:               rgb
Xft.dpi:                120

Xcursor.size:           14

URxvt*termName:         rxvt-256color
URxvt*font:             xft:Iosevka:style=bold:size=11
URxvt.scrollBar:        false
URxvt.transparent:      false
URxvt.letterSpace: 	    -1
URxvt*geometry:         400x400

URxvt*foreground: 	    #474a42
URxvt*background: 	    #eae5cf
URxvt*color0:           #454344
URxvt*color1:           #db322f
URxvt*color2:           #859a01
URxvt*color3:           #b68a00
URxvt*color4:           #268bd3
URxvt*color5:           #d33683
URxvt*color6:           #2ba098
URxvt*color7:           #d9d7cb
URxvt*color8:           #323334
URxvt*color9:           #cc4a16
URxvt*color10:          #94a29e
URxvt*color11:          #7d9791
URxvt*color12:          #677a83
URxvt*color13:          #6c72c1
URxvt*color14:          #556e72
URxvt*color15:          #e5e5e5

! Resize Terminal
URxvt.perl-ext-common: 	resize-font
URxvt.keysym.C-minus:   resize-font:smaller
URxvt.keysym.C-equal:   resize-font:bigger
URxvt.keysym.C-0:       resize-font:reset
